@using clbModels.Bitacora;
@model List<Scrum_Tareas>

<button class="btn btn-success" onclick="btnNuevoRegistro_Click();"><i class="fas fa-plus-circle"></i> Nuevo Registro</button>
<br />
<br />
<div id="dvDetalle">
    @await Html.PartialAsync("DetalleDatos", new List<Scrum_Tareas>());
</div>

<div id="dvEditar">
    @await Html.PartialAsync("ModalEditar", new Scrum_Tareas());
</div>

<script>
    //JQUERY
    $(document).ready(function () {
        fnConsultarDetalle();
    });

    function ShowModal(name) {
        $(name).modal('toggle');
    };

    function LimpiarModal() {
        $("#Cod_Actividad").val("");
        $("#Cod_Tarea").val("");
        $("#Descripcion").val("");
        $("#Anotaciones").val("");
        $("#Accion").val("");
    }

    function fnConsultarDetalle() {
        // debugger;

        $.ajax({
            type: "POST",
            url: '@Url.Action("ListarDetalle", "Tareas")',
            //contentType: "application/json; charset=utf-8",
            //data: model = {Anio_Zafra: vZafra},
            //dataType: "json",
            success: function (data) {
                // debugger;
                $("#dvDetalle").html();
                $("#dvDetalle").html(data);
                InitializeTable("#tablaDetalle");
            },
            complete: function (data) {
                // debugger;
                console.log("Exito");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                ShowErrorDialog(errorMessage);
                console.log(result);
            }
        });
    }

    function btnNuevoRegistro_Click() {
        LimpiarModal();

        $.ajax({
            type: "POST",
            url: '@Url.Action("RecuperarRegistro", "Tareas")',
            data: model = { Accion: "I" },
            success: function (data) {
                //debugger;
                $("#dvEditar").html();
                $("#dvEditar").html(data);
                //$("#Accion").val("I");
                ShowModal("#dvModalEditar");

                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
            },
            error: function (jqXhr, textStatus, errorMessage) {
                ShowErrorDialog(errorMessage);
            }
        });
    }

    function btnEditar_Click(vTarea) {
        LimpiarModal();

        $.ajax({
            type: "POST",
            url: '@Url.Action("RecuperarRegistro", "Tareas")',
            data: model = { Cod_Tarea: vTarea, Accion: "U" },
            success: function (data) {
                //debugger;
                $("#dvEditar").html();
                $("#dvEditar").html(data);
                ShowModal("#dvModalEditar");

                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
            },
            error: function (jqXhr, textStatus, errorMessage) {
                ShowErrorDialog(errorMessage);
            }
        });
    }

    function fnClick_Grabar() {
        event.preventDefault(); // Evita que el formulario se envíe por defecto
        var vTieneError = false;

        // debugger;

        $("#spn_cod_Actividad").text("");
        if ($("#Cod_Actividad").val() == "") {
            $("#spn_cod_Actividad").text("La actividad es requerida");
            vTieneError = true;
        }

        $("#spn_cod_tarea").text("");
        if ($("#Cod_Tarea").val() == "") {
            $("#spn_cod_tarea").text("La tarea es requerida");
            vTieneError = true;
        }

        $("#spn_descripcion").text("");
        if ($("#Descripcion").val() == "") {
            $("#spn_descripcion").text("La Descripcion es requerida");
            vTieneError = true;
        }

        $("#spn_anotaciones").text("");
        if ($("#Anotaciones").val() == "") {
            $("#spn_anotaciones").text("La Anotacion es requerida");
            vTieneError = true;
        }

        if (vTieneError)
            return false;

        // debugger;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ModificarRegistro", "Tareas")',
            data: model = {
                Cod_Tarea: $("#Cod_Tarea").val(),
                Cod_Actividad: $("#Cod_Actividad").val(),
                Descripcion: $("#Descripcion").val(),
                Anotaciones: $("#Anotaciones").val(),
                Accion: $("#Accion").val()
            },
            success: function (result) {
                $('#dvModalEditar').modal('hide');
                let rowman = '#tr_' + $("#Cod_Tarea").val();
                $(rowman).html();
                $(rowman).html(result);
                ShowSuccessDialog('Registro grabado');

                if ($("#Accion").val() == 'I') {
                    fnConsultarDetalle();
                }
            },
            complete: function (data) {
                LimpiarModal();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                ShowErrorDialog(errorMessage);
            }
        });
    }

</script>